---
title: CV
permalink: /cv/
published: true
layout: cv
---

<section class="cv__section">
	<h2 class="cv__section__title">About me</h2>
	<div class="cv__section__body">
		<p>I&#8217;m a full-stack developer living and studying in London. Most of my time is spent doing front-end work, but I&#8217;ve got a keen interest in UX design, visualizations and hardware hacking.</p>
		<p>In my free time I&#8217;m usually either at meetups, hackathons or working on overly ambitious side projects. I also organise <a href="http://untangletheweb.co.uk">Untangle the Web</a>, a small monthly meetup for web beginners and professionals.</p>
		<p>Currently contracting but open to offers of full time work from July onwards.</p>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Work</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for job in site.data.jobs %}
				<li class="cv__list__item job">
					<h3 class="job__header">
						<span class="job__date">{{ job.date }}</span>
						<span class="job__company">{{ job.company }}</span>
						<span class="job__title">({{ job.title }})</span>
					</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Projects</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for item in site.data.portfolio %}
				<li class="portfolio__item">
					<a class="portfolio__item__link" href="{{ item.url }}" target="_blank">
						<h3 class="job__header portfolio__item__header">{{ item.title }}</h3>
						{{ item.description }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Education</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
				<li class="cv__list__item job">
					<h3 class="job__header">
						<span class="job__date">2012 - 2015</span>
						<span class="job__company">Digital Media Design</span>
						<span class="job__title">London College of Communication</span>
					</h3>
				</li>
				<li class="cv__list__item job">
					<h3 class="job__header">
						<span class="job__date">2010 - 2012</span>
						<span class="job__company">Interactive Media</span>
						<span class="job__title">South Nottingham College</span>
					</h3>
				</li>
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">References</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for reference in site.data.references %}

				<li class="cv__list__item reference">
					<blockquote class="reference__body">
						&ldquo;{{ reference.body }}&rdquo;
					</blockquote>
					<span class="reference__referee">&mdash; {{ reference.referee }}</span>
					<!-- <span class="reference__refereeTitle">({{ reference.refereeTitle }})</span> -->
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
