---
title: CV
permalink: /cv/
published: true
layout: cv
---

<section class="cv__section">
	<h2 class="cv__section__title">About me</h2>
	<div class="cv__section__body">
		<p>I'm a London based developer, specialising in front-end, with full-stack, product and hardware experience. I've got a keen interest in UX, rapid prototyping and creative uses of technology. </p>
		<p>I strive to write clean, maintainable and performant code across a wide range of sectors and technologies. My preferred technologies are React, Node and scss, but I've got experience integrating with Rails/Django apps and prototyping Swift, Arduino and Python.</p>
		<p>Available for short to mid term contracts, drop me an email <a href="mailto:ross@rossmackay.co">ross@rossmackay.co</a> or tweet me <a href="http://twitter.com/r_mcky">@r_mcky</a> if you have a project you think is a good fit.</p>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Work</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for job in site.data.jobs %}
				<li class="cv__list__item job">
					<h3 class="job__header">
						{% assign jobDateClass = 'job__date' %}
						{% if job.date.size == 7 %}
							{% capture jobDateClass %}{{ jobDateClass }} {{ jobDateClass }}--short{% endcapture %}
						{% endif %}
						<span class="{{ jobDateClass }}">{{ job.date }}</span>
						<span class="job__company">{{ job.company }}</span>
						<span class="job__title">{{ job.title }}</span>
					</h3>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Projects</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for item in site.data.portfolio %}
				<li class="portfolio__item">
					<a class="portfolio__item__link" href="{{ item.url }}" target="_blank">
						<h3 class="job__header portfolio__item__header">{{ item.title }}</h3>
						{{ item.description }}
					</a>
				</li>
				{% if forloop.index0 == 4 %}
					{% break %}
				{% endif %}
			{% endfor %}

			<li class="portfolio__item">
				<a class="portfolio__item__link" href="http://github.com/mcky/" target="_blank">
					<h3 class="job__header portfolio__item__header">More on Github &raquo;</h3>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">Education</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
				<li class="cv__list__item job">
					<h3 class="job__header">
						<span class="job__date">2012 - 2015</span>
						<span class="job__company">BA Digital Media Design</span>
						<span class="job__title">London College of Communication</span>
					</h3>
				</li>
				<li class="cv__list__item job">
					<h3 class="job__header">
						<span class="job__date">2010 - 2012</span>
						<span class="job__company">Interactive Media</span>
						<span class="job__title">South Nottingham College</span>
					</h3>
				</li>
		</ul>
	</div>
</section>

<section class="cv__section">
	<h2 class="cv__section__title">References</h2>
	<div class="cv__section__body">
		<ul class="cv__list">
			{% for reference in site.data.references %}

				<li class="cv__list__item reference">
					<blockquote class="reference__body">
						&ldquo;{{ reference.body }}&rdquo;
					</blockquote>
					<span class="reference__referee">&mdash; {{ reference.referee }}</span>
					<!-- <span class="reference__refereeTitle">({{ reference.refereeTitle }})</span> -->
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
