html {
	position: initial!important;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 2rem;
	transform: translateY(-50%);
}

.header {
	&__title {
		&__page {
			color: #777;
		}
	}
}

.main,
.header,
.footer {
	@include outer-container;
}

%list-item {
	display: inline;
	margin-right: .5rem;
}

.footer {
	&__social {
		&__item {
			@extend %list-item;
		}
	}
}


.cv {
	padding: 1.5rem 0;

	&__section {
		&__title {
			padding-bottom: .3rem;
			border-bottom: 1px solid #777;
		}
	}

	&__list {
		@include row();
	}
	&__job {
		&__date {
			@include span-columns(12);
			@include med-span-columns(2);
			margin-top: 0;
			color: #999;
			font-weight: normal;
		}

		&__info {
			@include span-columns(12);
			@include med-span-columns(10);
			margin-bottom: 1rem;
			@include breakpoint(medium) {
				@include omega();
			}
		}

		&__place {
			font-size: 1.3em;
		}

		&__description {
			max-width: 40rem;
		}
	}
}
