// Grid
@mixin med-span-columns($col) {
  @include breakpoint(medium) {
    @include span-columns($col);
  }
}

@mixin mlg-span-columns($col) {
  @include breakpoint(m-lg) {
    @include span-columns($col);
  }
}

@mixin large-span-columns($col) {
  @include breakpoint(large) {
    @include span-columns($col);
  }
}

@mixin med-shift($col) {
  @include breakpoint(medium) {
    @include shift($col);
  }
}

@mixin mlg-shift($col) {
  @include breakpoint(m-lg) {
    @include shift($col);
  }
}

@mixin large-shift($col) {
  @include breakpoint(large) {
    @include shift($col);
  }
}

@mixin center($axis: xy) {
  position: absolute;
  @if $axis == x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $axis == y {
    top: 50%;
    transform: translateY(-50%);
  } @else if $axis == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
